#mainDiv {
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}

#divHeader {
    width: 1020px;
    height: 117px;
    background: url("/resources/image/Image.png") no-repeat;
    z-index: 1;
}

#logo {
    background: url("/resources/image/Image.png") no-repeat;
    position: relative;
    width: 233px;
    height: 116px;
    top: 0;
    left: 25px;
    background-position: -1px -127px !important;
}

#messagePrincipal {
    font-size:27px;
    color:white;
    font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;
    text-align:center;
    position:relative;
    width:749px;
    height:92px;
    left:270px;
    top: -115px;
    background:#df0f0f;
}

#barheader {
    position: relative;
    width: 724px;
    height: 22px;
    top: -113px;
    left: 270px;
    font-size: 13px;
    color: white;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    text-align: center;
}

#yellow {
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #f6f60b;
}

#message {
    color: #ffff33;
    text-align: center;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 14px;
    position: relative;
    top: 20px;
    left: 10px;
}

#buttons {
   position: relative;
    width: 174px;
    height: 92px;
    top: -230px;
    left: 810px;
}

#facebook {
    background: url("/resources/image/Image.png") no-repeat;
    position: absolute;
    top: 60px;
    right: 135px;
    width: 33px;
    height: 33px;
    background-position: -235px -129px !important;
    z-index: 2;
}

#twitter {
    background: url("/resources/image/Image.png") no-repeat;
    position: absolute;
    top: 60px;
    left: 75px;
    background-position: -268px -129px !important;
    width: 33px;
    height: 33px;
}

#youtube {
    background: url("/resources/image/Image.png") no-repeat;
    position: absolute;
    top: 60px;
    left: 150px;
    width: 33px;
    height: 33px;
    background-position: -301px -129px !important;
}

#tableButton {
   text-align: center;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 13px;
    color: white;
    position: relative;
    top: 0px;
    left: -25px;
}

#divFooter {
    background: url("/resources/image/Image.png") no-repeat;
    position: relative;
    width: 1020px;
    height: 341px;
    background-position: -1px -244px !important;
    z-index: 1;
}

#tableSurvey {
    background: url("/resources/image/Image.png") no-repeat;
    background-position: -226px -586px !important;
    width: 233px;
    height: 185px;
}

#graySurvey {
    position: relative;
    width: 200px;
    height: 180px;
    top: 30px;
    left: 30px;
}

#submit {
    background: url("/resources/image/Image.png") no-repeat;
    background-position: -234px -187px !important;
    position: relative;
    width: 51px;
    height: 20px;
    left: 160px;
    border: none;
}

#attentionHeader, #communicate {
    font-size: 13px;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #df0f0f;
    position: relative;
    left: -100px;
}


#link {
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 18px;
    color: #df0f0f;
    position: relative;
    top: 10px;
    left: 0;
}

#barFooter {
    width: 900px;
    height: 30px;
    font-size: 16px;
    color: white;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    position: relative;
    top: -305px;
    left: 100px;
    z-index: 24;    
}

#footer {
    width: 1020px;
    height: 30px;
    position: relative;
    top: -470px;
    left: 0;
}

#footerAttention {
    font-size: 15px;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #df0f0f;
    position: relative;
    top: -1400px;
    left: 550px;
    width: 600px;
    height: 100px;
}

#r {
    text-align: right;
    font-size: 15px;
    color: #666666;
}

#r2 {
    text-align: right;
    font-size: 12px;
    color: #666666;
    position:relative;
    top:-280px;
}

#begin {
    width: 1020px;
    height: 900px;
}

#bannerAttention {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: 0 -1100px !important;
    width: 235px;
    height: 372px;
    position: relative;
    top: 0;
    left: 30px;
}

#titleNeed {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -461px -589px !important;
    width: 220px;
    height: 28px;
    position: relative;
    top: -350px;
    left: 290px;
    z-index: 1;
}

#imageNeed {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -236px -1234px !important;
    width: 221px;
    height: 132px;
    position: relative;
    top: -350px;
    left: 290px;
    z-index: 2;
}

#needText {
    position: relative;
    width: 200px;
    height: 200px;
    top: -350px;
    left: 300px;
    z-index: 3;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 12px;
    color: #666666;
}


#branch {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -463px -621px !important;
    width: 218px;
    height: 28px;
    position: relative;
    top: -727px;
    left: 540px;
}

#imagebranch {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -459px -1101px !important;
    width: 222px;
    height: 132px;
    position: relative;
    top: -730px;
    left: 538px;
}

#branchText {
    position: relative;
    width: 220px;
    height: 200px;
    top: -725px;
    left: 540px;
    z-index: 4;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 12px;
    color: #666666;
}

#promotion {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -462px -654px !important;
    width: 222px;
    height: 28px;
    position: relative;
    top: -1105px;
    left: 780px;
}

#imagePromotion {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -236px -1101px !important;
    width: 220px;
    height: 131px;
    position: relative;
    top: -1105px;
    left: 780px;
}

#promotionText {
    position: relative;
    top: -1100px;
    left: 790px;
    width: 200px;
    height: 200px;
    z-index: 4;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 12px;
    color: #666666;
}

.input {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -516px -130px !important;
    width: 81px;
    height: 24px;
}

#detailsRed, #usRed {
    color: #ee1c24;
}

#attention {
    width: 1020px;
    height: 1000px;
}

#goldPromotion {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: 0 -1474px !important;
    width: 230px;
    height: 375px;
    position: relative;
    top: 10px;
    left: 31px;
}

#bannerBegin {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: 0 -771px !important;
    width: 1003px;
    height: 328px;
    position: relative;
    top: -0px;
    left: 10px;
}

#bannerAttention2 {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: 0 -1100px !important;
    width: 235px;
    height: 372px;
    position: relative;
    top: 10px;
    left: 30px;
}

#attentionHeader {
    position: relative;
    top: -1370px;
    left: 290px;
    width: 600px;
    height: 100px;    
}

#communicate {
    position: relative;
    font-size: 18px;
    top: -1350px;
    left: 600px;
    width: 400px;
    height: 200px;    
}

#phone {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -239px -1480px !important;
    width: 371px;
    height: 315px;
    position: relative;
    top: -1400px;
    left: 600px;
    z-index: 8;
}


#p{
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #666666;
    font-size: 14px;
}

 #communicateGray{

    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #666666;
    font-size: 15px;
    position:relative;
    left:-20px;
 }


#p1 {
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #666666;
    font-size: 18px;
    position: relative;
    top: 20px;
    left: 30px;
}

#rh {
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #df0f0f;
    position:relative;
    left:270px;
    top:-15px;
}

#work
{
    position:relative;
    left:70px;
    top:30px;
}

#us {
    width: 1020px;
    height: 1000px;
}

#route {
    position: relative;
    top: 30px;
    left: 300px;
    font-size: 14px;
}

#red {
    color: #df0f0f;
    text-decoration: none;
}

#red2 {
    color: #df0f0f;
    position: relative;
    top: 10px;
    left: 10px;
    width: 450px;
}

#grayDark {
    color: #666666;
    text-decoration: none;
}

#gray {
    color: #999999;
    text-decoration: none;
}

#usText {
    position: relative;
    top: -700px;
    left: 340px;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 13px;
    width: 600px;
    height: 100px;
}

#prendamigoImage {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -239px -1368px !important;
    position: relative;
    top: -660px;
    left: 450px;
    z-index: 13;
    width: 331px;
    height: 112px;
}

#details {
    position: relative;
    top: -600px;
    left: 340px;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 13px;
    width: 600px;
}


#usGray, #usGray2, #detailsGray, #detailsGray2 {
    color: #666666;
}

#deductible {
    width: 1020px;
    height: 1000px;
}

#deductibleText {
    width: 680px;
    height: 800px;
    position: relative;
    top: -700px;
    left: 300px;
    color: #666666;
    font-size: 13px;
}

.h2 {
    color: #ee1c24;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 13px;
    margin: 0 auto;

}

.p {
    color: #666666;
    font-size:15px;
    margin: 0 auto;
}

#faqs {
    width: 700px;
    height: 980px;
}

#hide {
    position: relative;
    top: -700px;
    left: 300px;
}

#chat {
    position: relative;
    top: 300px;
    left: 140px;
    z-index: 17;
}

#black {
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #666666;
    position: relative;
    left: 80px;
    z-index: 20;
}


.red {
    color: #ee1c24;
}


#form {
    width: 233px;
    height: 185px;
    position: absolute;
    top: -800px;
    left: 0;
}

.survey {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -235px -187px !important;
    width: 300px;
    height: 250px;
    border: none;
    position: relative;
    top: -100px;
    left: 32px;
    z-index: 22;
}

.a
{
    color:white;
    text-decoration:none;
}

.al
{
    color:#666666;
    text-decoration:none;
}

#object
{
    width:1010px;
    height:330px;
    z-index:5;
    position:relative;
    top:0;
    left:-30px;
}

.link
{
    font-size:12px;

}

.form
{
    width:235px;
    height:15px;
}

#needList
{
    width:200px;
    position:relative;
    left:-30px;
    top:-10px;
}

#branchList
{
    width:200px;
    position:relative;
    left:-30px;
    top:-10px;
}

#promotionList
{
    width:200px;
    position:relative;
    left:-30px;
    top:-10px;
}

#location
{
    font-size:18px;
    color:#999999;
    position:relative;
    top:-400px;
    left:700px;
}

#top
{
    position:relative;
    top:10px;
}

#contact {   
    position: relative;
    top: -600px;
    left: 280px;
}

#send {
    background: url(/resources/image/Image.png) no-repeat;
    background-position: -517px -218px !important;
    width: 74px;
    height: 19px;
    position: relative;
    top: 30px;
    left: -80px;
    border: none;
    z-index: 9;
}

#contentForm {
    position: relative;
    top: 35px;
    left: 20px;
    width: 400px;
    height: 180px;
}

#survey
{
    position:relative;
    top:-200px;
}

#surveyA
{
    position:relative;
    top:-300px;
}

#white
{
    background:white;
    position:relative;
    top:-320px;
    left:10px;
    width:280px;
    height:35px;
}

#whiteA
{
    background:white;
    position:relative;
    top:-420px;
    left:10px;
    width:280px;
    height:35px;
}

#white2
{
    background:white;
    position:relative;
    top:-320px;
    left:290px;
    width:260px;
    height:65px;    
}

#barFooterA
{
    width: 900px;
    height: 30px;
    font-size: 16px;
    color: white;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    position: relative;
    top: -370px;
    left: 100px;
    z-index: 24;
}